/*Large than phones but smaller than tables*/
@media screen and (min-width: 480px) {
    /***************************************************
     *TWO COLUMN LAYOUT: 
     ***************************************************/
    
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    
    /***************************************************
     *PAGE: projects 
     ***************************************************/
    
    #gallery li {
        /***************************************************
         * 3 * 5 = 15
         * 100 - 15 = 85%
         * 85 / 3 = 28.333333%
         ***************************************************/
        width: 28.3333%;
    }
    
    /***************************************************
     * Pseduo class to clear every 4 child to line imgs
     * correctly
     ***************************************************/
    #gallery li:nth-child(4n) {
        clear: left;  
    }
    
    /***************************************************
     *PAGE: ABOUT 
     ***************************************************/
    
    .profile-photo {
        float: left;
        margin: 0 5% 160px 0;
    }
}

/*Large than tablets*/
@media screen and (min-width: 655px) {
    /***************************************************
     *TWO COLUMN LAYOUT: 
     ***************************************************/
    nav {
        background: none;
        float: right;
        font-size: 1.10em;
        margin: 20px 5% 0 0 ;
        text-align: right;
        width: 45%;
    }
    
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    
    header {
        border-bottom: 5px solid #007EA6;
        margin-bottom: 60px;
    }
}